@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
:root{
	--very-dark-magenta: hsl(300, 43%, 22%);
	--soft-pink: hsl(333, 80%, 67%);
	--dark-grayish-magenta: hsl(303, 10%, 53%);
	--light-grayish-magenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);
}
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Spartan", sans-serif;
	overflow: hidden;
}
.container{
	background: url("../images/bg-pattern-top-desktop.svg"),
	url("../images/bg-pattern-bottom-desktop.svg");
	background-repeat: no-repeat;
	background-position: top left, right;
	height: 100vh;
	display: flex;
	padding: 140px;
	flex-wrap: wrap;
}
.header{
	width: 500px;
	height: 100px;
}
.header h1{
	font-size: 45px;
	color: var(--very-dark-magenta);
	margin-bottom: 10px;
}
.header p{
	color: var(--dark-grayish-magenta);
	line-height: 25px;
	letter-spacing: 0.3px;
	font-size: 15px;
	font-weight: 500;
}
.rating{
	background-color: var(--light-grayish-magenta);
	margin-bottom: 10px;
	border-radius: 8px;
	color: var(--very-dark-magenta);
	padding: 20px 40px;
	display: flex;
	width: 370px;
	margin-bottom: 15px;
}
.rating img{
	margin-right: 5px;
	object-fit: contain;
}
.rating p{
	margin-left: 20px;
	font-size: 14px;
	font-weight: 700;
}
.ratings{
	margin: 10px 0px 0px 70px;
	height: 100px;
}
.rating-2{
	margin-left: 50px;
}
.rating-3{
	margin-left: 100px;
}
.reviews{
	display: flex;
}
.box{
	background-color: var(--very-dark-magenta);
	margin-right: 30px;
	border-radius: 8px;
	padding: 40px 30px;
	height: 150px;
	display: flex;
	flex-wrap: wrap;
	flex: 1;
}
.box img{
	border-radius: 50%;
	height: 40px;
	width: 40px;
}
.box h4{
	color: var(--white);
	margin-left: 25px;
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 20px;
}
.box .sub-title{
	color: var(--soft-pink);
	font-size: 13px;
	font-weight: 400;
}
.box p{
	color: var(--light-grayish-magenta);
	font-size: 12.5px;
	line-height: 20px;
}
.box-1{
	position: relative;
}
.box-2{
	position: relative;
	top: 15px;
}
.box-3{
	position: relative;	
	top: 30px;
}
@media (max-width: 1400px){
	.ratings{
		width: 300px;
	}
}
@media (max-width: 1270px){
	.ratings{
		margin-left: -50px;
	}
	.box{
		width: 250px;
	}
}
@media (max-width: 1150px){
	.rating{
		padding: 15px 30px;
		width: 300px;
	}
	.rating p{
		font-size: 11.5px;
		margin-left: 10px;
	}
	.box{
		padding: 30px 20px;
	}
}
@media (max-width: 1080px){
	.ratings{
		margin-left: -70px;
	}
	.box{
		padding: 25px 15px;
	}
}
@media (max-width: 1050px){
	body{
		overflow: auto;
	}
	.header{
		width: 100%;
	}
	.rating{
		width: 400px;
	}
	.rating p{
		font-size: 14px;
		margin-left: 30px;
	}
	.ratings{
		margin: 70px 0px 0px;
		flex-wrap: wrap;
	}
	.rating-2{
		margin-left: 0px;
	}
	.rating-3{
		margin-left: 0px;
	}
	.reviews{
		flex-direction: column;
		margin-left: 0px;
	}
	.box-1, .box-2, .box-3{
		width: 100%;
		top: 80px;
		margin-bottom: 10px;
	}
	.box p{
		font-size: 14px;
	}
}
@media (max-width: 910px){
	.ratings{
		margin: 120px 0px 0px;
	}
	.box-1, .box-2, .box-3{
		width: 100%;
		top: 110px;
	}
}
@media (max-width: 810px){
	.ratings{
		margin: 170px 0px 0px;
	}
	.box-1, .box-2, .box-3{
		width: 100%;
	}
}
@media (max-width: 720px){
	.ratings{
		margin: 200px 0px 0px;
	}
}
@media (max-width: 650px){
	.ratings{
		margin: 220px 0px 0px;
	}
}
@media (max-width: 637px){
	.ratings{
		margin: 270px 0px 0px;
	}
	.rating{
		width: 300px;
	}
	.rating p{
		font-size: 12px;
	}
}
@media (max-width: 570px){
	.ratings{
		margin: 320px 0px 0px;
	}
}
@media (max-width: 560px){
	.ratings{
		margin: 350px 0px 0px;
	}
}
@media (max-width: 525px){
	.ratings{
		margin: 370px 0px 0px;
	}
	.rating{
		width: 190px;
	}
	.box-1, .box-2, .box-3{
		top: 190px;
	}
}